table {
    border-collapse: collapse;
    color: #686461;
}

th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
}

tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: #E8E6D1;
}
